// size
.w-100p{
    width: 100%;
}
.h-100p{
    height: 100%;
}

.w-100vw{
    width: 100vw;
}
.h-100vh{
    height: 100vh;
}

.w-300px{
    width: 300px;
}

.w-400px{
    width: 400px;
}


//color
.bg-cl-white{
    background-color: white;
}





//distance
.pd-1rem{
    padding: 1rem;
}




//decorate
.bd-rad-1rem{
    border-radius: 1rem;
}



//align
.txt-center{
    text-align: center;
}